body{
        background-color: #222;
        color: #fff;
}

.grid-parent{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 75px;
        gap: 7px;
        margin-top: 50px;

        grid-auto-columns: 1fr;
        grid-auto-rows: 75px;
}

.grid-parent div{
        text-align: center;
        padding-top: 15px;
        border: 2px solid;
}

.grid-parent div:hover{
        border: 2px solid goldenrod;
}


.place-4{
        order: -1;
}
.place-3{
        order: -2;
}
.place-2{
        order: -3;
}
.place-1{
        order: -4;
}